@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #323232;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP",
    "メイリオ", "Meiryo", "sans-serif";
}

*:after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
*:before {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
